body {
  background-color: #f3f5f5;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  color: #4a4a4a;
  margin: 0 auto;
  padding: 0;
}

/* Header */

header {
  display: block;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  height: 4rem;
}

.logo {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  height: 2rem;
  margin-left: 1.5rem;
}

span {
  font-size: 1.5rem;
  line-height: 2rem;
}

ul {
  display: flex;
  justify-content: space-between;
  margin-right: 1.5rem;
}

li {
  list-style-type: none;
  margin: 0.5rem;
}

a {
  text-decoration: none;
  color: inherit;
}

@media only screen and (max-width: 685px) {
  nav.mobile {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }

  div.logo, nav.desktop {
    display: none;
  }
}

@media only screen and (min-width: 686px) {
  nav.mobile {
    display: none;
  }
}

/* First banner */

main {
  margin-top: 4rem;
}

.learn {
  display: flex;
  background-color: lightgray;
  align-content: center;
}

.banner {
  width: 60%;
  height: auto;
  margin: 2rem 1.5rem;
}

.banner-text {
  margin: auto;
  margin-right: 7rem;
}

h1 {
  font-size: 2rem;
}

.button {
  padding: 0.5rem;
  background-color: #4a4a4a;
  color: #f3f5f5;
  border: none;
  width: 100%;
}

@media only screen and (max-width: 685px) {
  .learn {
    flex-direction: column;
  }

  .learn img {
    width: auto;
    margin: 0;
  }

  .banner-text {
    justify-content: center;
    margin: 2rem 1rem;
  }

  .banner-text h1,h3 {
    text-align: center;
  } 
}

/* Second section */

.practicing {
  display: flex;
}

.main-img {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 2rem 1.5rem;
}

.citation {
  text-align: left;
  font-size: 1rem;
}

.side-column {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 1rem 0 2rem 0;
  justify-content: space-between;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: auto;
  border: 1px solid lightgray;
  transition: background-color 1s;
}

.title:hover {
  background-color: lightgray;
}

.title-image {
  display: flex;
  flex: 1 1 35%;
  align-items: center;
  flex-direction: column;
}

.title img {
  width: 100%;
  height: auto;
  margin: 1rem;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 6 65%;
  padding-left: 2rem;
}

@media only screen and (max-width: 685px) {
  .main-img {
    display: none;
  }
  
  .info h3 {
    text-align: left;
  }

  .side-column {
    display: none;
  }

  .side-col-mobile {
    width: 100%;
  }

  .title {
    flex-direction: column;
  }

  .title-image {
    flex-direction: column;
  }
}

@media only screen and (min-width: 685px) {
  div.side-col-mobile {
    display: none;
  }
}

@media only screen and (min-width: 686px) and (max-width: 800px) {
  .title-image {
    display: none;
  }
}
/* Third section */

.start {
  display: flex;
  flex-direction: column;
  background-color: lightgray;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.start h1 {
  margin: 2rem 0 0;
}

.start-frame {
  display: flex;
  flex-flow: row wrap;
  align-content: space-around;
  margin: 2rem 4.5rem;
}

.courses {
  display: flex;
  flex-flow: column wrap;
  flex: 1 1 28%;
  margin: 1rem;
  background-color: white;
}

.courses img {
  height: auto;
  width: 100%;
}

.info-start {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}

.info-start p {
  height: 100%;
}

@media only screen and (min-width: 685px) {
  .start-frame-mobile {
    display: none;
  }
}

@media only screen and (max-width: 685px) {
  .start-frame {
    display: none;
  }

  section.start {
    background-color: #f3f5f5;
  }

  .start-frame-mobile {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .start-frame-mobile span{
    background-color: lightgray;
    padding: 1rem 1rem 1.5rem;
    margin: 0.5rem 1rem;
  }

  .start h1 {
    margin-bottom: 1rem;
  }
}



/* Fourth section */

.practicing-ex {
  display: flex;
  flex-direction: column;
}

.practicing-ex h1 {
  text-align: center;
  margin: 2rem 0 0;
}

.video-left {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 2rem 1.5rem;
}

.main-container {
  display: flex;
}

.side-column-ex {
  justify-content: flex-start;
  margin-top: 2rem;
}

@media only screen and (max-width: 685px) {
  .side-column-ex {
    display: none;
  }

  video {
    width: 100%;
    height: auto;
  }

  .video-left {
    margin-top: 16px;
    width: 100%;
  }

  .video-left h1 {
    display: none;
  }

  .video-left p {
    display: none;
  }
  
  footer ul {
    display: none;
  }
}
  



 /* Footer */

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

small {
  margin-left: 1.5rem;
}